@use "../tools/mixins";
.o-ui-list{
  padding: 0 ;
  margin: 0;
  list-style: none;
  &--horizontal{
    display: flex;
    @include mixins.mq(1024px){
      gap:2rem
    }
  }
  .o-item{
    width: 100%;
    .o-link{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}