@use "../settings/variables";
@use "../tools/mixins";

.g-recent{

  &__points{
    display: flex;
    justify-content: center;
    gap:0 1.5rem;
    margin-top: 2.25rem;
  }


  &__point{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color:#D9D9D9;
    border: 1px solid #D9D9D9;
    box-shadow: variables.$shadow;
    &.active{
      background: variables.$primary-color;
      border-color: variables.$primary-color;
    }
  }

  &__slide-button {
    display: none;
  }
  


  @include mixins.mq(480px) {
    &__point{
      width: .75rem;
      height: .75rem;
    }
  }


  @include mixins.mq(1024px){
    padding-left:2.5rem;
    padding-right:2.5rem;


    &__container{
      position: relative;
    }

    &__slider {
      margin: 0 2rem;
    }

    &__slide-button {
      display: block;
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
      &:last-of-type{
        left: 100%;
        transform: rotate(-180deg) translateY(50%);
      }
    }


    &__points{
      display: none;
    }
  }
}